/* DEFAULT */
/*
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  font-size: 2rem;
  height: 2.5rem;
  align-items: center;
  padding: 20px;
}

.brand {
  font-size: 1.5rem;
}

.navbar > a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  padding: 8px 18px;
}

.navbar a:hover {
  background-color: #ddd;
}

.brand {
  background-color: red;
}
*/

/* MOBILE */
/*
.navbar {
    flex-direction: column;
    height: auto;
  }

  #infos {
    display: none;
    width: 100%;
    text-align: center;
    transition: display 0.5s;
  }

  #infos > a {
    transition: 0.2s background-color linear;
  }

  .navbar:hover #infos {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #infos > a:hover{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #ddd;
  }

  .brand {
    background-color: blue;
  }
 */


/* tablet */
/*
.navbar {
    overflow: hidden;
    display: flex;
    background-color: cornflowerblue;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .brand {
    font-size: 2.5rem;
  }

  .navbar > a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
    padding: 8px 18px;
  }

  .brand {
    background-color: pink;
  }
 */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .brand {
    background-color: red;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .brand {
    background-color: yellow;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .brand {
    background-color: blue;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .brand {
    background-color: green;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .brand {
    background-color: white;
  }
}